* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #005fae;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
    font-weight: 300;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin: 40px 0;
}

.profile .profile-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 50px;
    overflow: hidden;
    background-image: url('./images/logo.jpg');
    background-size: cover;
    background-position: center;
}

.profile-details p {
    font-size: 18px;
    line-height: 1.8;
}

.skills ul {
    list-style-type: none;
    line-height: 1.8;
}

.skills li {
    font-size: 18px;
}

.code-sample pre {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto;
}

.code-sample code {
    font-family: 'Courier New', Courier, monospace;
}

.experience ul {
    list-style-type: none;
    padding-left: 20px;
}

.experience li {
    font-size: 18px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
